
//- TODO create a nice image header for the frontpage
//- .hero-unit(style="background-image: url(/images/kwk_header.png); background-repeat: no-repeat; color: white;")
//-   h1(style="color: white;") Kolding Windsurfing Klub
#home-hero-box.hero-unit
	h1 Kolding Windsurfing Klub
	p mød os i klubhuset i Rebæk 
		a.btn.btn-primary.btn-large(data-toggle="modal", href="#newMemberModal") Bliv medlem
