#home-hero-box.hero-unit
	h1 Kolding Windsurfing Klub
	p mød os i klubhuset i Rebæk 

.row(style="margin-top: 1em")
	.span12
		ul.thumbnails.frontpage-boxes
			li.span4
				.thumbnail
					a(href="http://www.facebook.com/groups/17993003105")
						img(alt="", src="/images/kwk-facebook.png")
					.caption
						h5 Facebook gruppe
						p Meld dig ind i 
							a(href="http://www.facebook.com/groups/17993003105") kwk's facebook gruppe, så du kan følge med i hvor der skal sejles, hvem der tager afsted, hvem der har udstyr til salg osv.
			li.span4
				.thumbnail
					//<iframe width="209" height="142" src="http://www.youtube.com/embed/PMVe48-Vn-g" frameborder="0" allowfullscreen></iframe>
					a(href="http://www.youtube.com/user/Koldingwindsurfklub?ob=0&feature=results_main")
						img(alt="", src="/images/kwk-youtube.png")
					.caption
						h5 Youtube kanal
						p Se videoer fra klubben på vores 
							a(href="http://www.youtube.com/user/Koldingwindsurfklub?ob=0&feature=results_main") youtube kanal.

			li.span4
				.thumbnail
					a(href="/images/brochure/KWKbrochure.pdf", target="_blank")
						img(alt="", src="/images/brochure/folder_small.png")

					.caption
						h5 KWK Info folder
						p Print vores 
							a(href="/images/brochure/KWKbrochure.pdf", target="_blank") folder om Kolding Windsurfing Klub
							|  , og giv den til dine venner.

.row
	.span6
		h2 Velkommen i Kolding Windsurfing Klub
		p.
			Kolding Windsurfing Klub blev stiftet i 1992. Det har siden klubbens start, været vort formål at udbrede sporten
			og fordre unge talenter. Surfskolens dygtige DS uddannede instruktører, underviser over 100 elever hver
			sommer, det vil sige at vi stadig er en af de førende surfskoler i landet. Vi har Klubaften med surfskole 2 gange
			ugentligt i sommerhalvåret, hvor elever i alle aldersklasser, begyndere som øvede, bliver undervist efter Dansk
			Sejlunion’s surfskole kursussæt windsurfer 1 og windsurfer 2.
			Hvis du er i tvivl om windsurfing er noget for dig, så kom forbi klubben på klubaften, hvor du gratis kan prøve at
			windsurfe 1. gang.
			Hele sommeren er fyldt med aktiviteter i Kolding windsurfing klub, og medlemmerne må også bruge klubbens
			område på andre dage end på klubaftener.

	.span6
		h2 Surfskole
		p Der foregår altid spændende aktiviteter i surfskolen. KWK tilbyde for øjeblikket tre forskellige hold.

		p 
			a(href="/page/activities", title="Surfskole - den blå legeplads").label.label-info Den blå legeplads
			|  Er stedet hvor de mindste kan prøver kræfter med havet sammen med deres forældre.
		p
			a(href="/page/activities", title="Surfskole - Windsurfer 1").label.label-success Begynderkursus
			|  Er for dig der lige er startet på windsurfing.
		p 
			a(href="/page/activities", title="Surfskole - Windsurfer 2").label.label-warning Videregående
			|  Er træning for dig der allerede har gennemgået begynderkursus og har mod på at lære mere.

	.span12
		h2 I samarbejde med Dansk Sejlunion
		p.
			Kolding Windsurfing Klub er medlem af Dansk Sejlunion og har et årelangt samarbejde, specielt målrettet
			mod aktiviteter og tilbud til børn og unge. Og blev i 2007, som første windsurfing klub i Danmark,
			af Dansk Sejlunion udnævnt til Ungdomsvenlig Sejlklub, samt i 2011-2012 udvalgt som eneste windsurfing klub,
			i et strategisk projekt, med fokus på fastholdelse af unge mellem 16-25 år. Projektet kaldes et Fyrtårnsprojekt
			og Kolding windsurfing klub er sammen med 4 sejlklubber, med til at vise vejen for sejlsporten i Danmark.

