
.row
  .span12
    .page-header
      h1= title

    p Her finder du nogle udvalgte prognoser og målinger. Der er mange flere detaljer på

    ul
      li: a(href="http://dmi.dk") DMI's hjemmeside
      li: a(href="http://ifm.fcoo.dk", title="Sejladsudsigt - Forsvarets Center for Operativ Oceanografi") Sejladsudsigt fra Forsvarets Center for Operativ Oceanografi

    .row
      .span6
        h3 Vindmåling fra Kolding windsurfing klubs vejrstation
        p 
          a(href="http://www.dmi.dk/dmi/index/danmark/borgervejr.htm?stat=1627&map=map13&param=undefined",
              title="Kolding windsurfing klub på DMI Borgervejr")
            img(src="http://servlet.dmi.dk/bv/servlet/bvImage?stat=1627&param=wind",
              title="Vindmåling fra Kolding windsurfing klubs vejrstation")

      .span6
        h3 DMI's 5 døgns prognose for Syd- og Sønderjylland
        p
          a(href="http://www.dmi.dk/vejr/til-lands/regionaludsigten/ssjylland/", title="DMI vejrudsigt for Syd- og Sønderjylland")
            img(src="http://www.dmi.dk/uploads/tx_dmidatastore/webservice/d/n/a/l/l/femdgn_sydjylland.png", title="Femdøgns prognose fra dmi")

    .row
      .span12

    .row
      .span6
        h3 Vindprognose for Lillebælt for de næste 8 timer
        p
          <iframe frameborder="0" border="0" scrolling="no" style="margin:0px;padding:0px;border:none;" src="http://embed.fcoo.dk/?s=:002DK:0478:051WSpd:052DEFAULT:053WDir:055NONE:04g1:068DK:003SMALL_BELT:054DEFAULT:04u8" width="390" height="706"></iframe>

      .span6
        h3 Vandstand Kolding havn
        p
          <iframe frameborder="0" border="0" scrolling="no" style="margin:0px;padding:0px;border:none;" src="http://embed.fcoo.dk/?s=:002DK:0471:04a1:04c1:04g1:068DK:003KOLDING:04h:001DEFAULT:046SeaLvl:04d400:04f0" width="400" height="400"></iframe>

