
.row
	.span12
		h1 Live webcam
			small Hold øje med hvem der er på vandet.
		img(alt="Webcam fra klubhuset", src="http://guest:guest@cam.kwk.dk/video2.mjpg")

		h2 Alternativ version
		p Har du problemer med at se 
			a(href="http://guest:guest@cam.kwk.dk/video2.mjpg", title="Live video fra Rebæk strand", target="_blank") billeder fra webcam 
			|så prøv den 
			a(href="/page/webcam-alt") alternative version.
